sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 70.08334em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 49.58333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 49.58333em;
}
.stl_06 {
	height: 7.008333em;
}
.ie .stl_06 {
	height: 70.08334em;
}
@font-face {
	font-family:"NBRIRQ+Arial-BoldMT";
	src:url("e00b469a-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 1.67em;
	font-family: "NBRIRQ+Arial-BoldMT";
	color: #000000;
}
.stl_08 {
	line-height: 1.117187em;
}
.stl_09 {
	letter-spacing: -0.0031em;
}

.ie .stl_09 {
	letter-spacing: -0.0835px;
}
@font-face {
	font-family:"RTWIGL+ArialMT";
	src:url("100a7cac-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.75em;
	font-family: "RTWIGL+ArialMT";
	color: #000000;
}
.stl_11 {
	line-height: 1.117188em;
}
.stl_12 {
	letter-spacing: 0.001em;
}

.ie .stl_12 {
	letter-spacing: 0.0118px;
}
.stl_13 {
	font-size: 0.75em;
	font-family: "RTWIGL+ArialMT";
	color: #0563C1;
}
.stl_14 {
	letter-spacing: -0.0049em;
}

.ie .stl_14 {
	letter-spacing: -0.0592px;
}
.stl_15 {
	font-size: 0.88em;
	font-family: "NBRIRQ+Arial-BoldMT";
	color: #000000;
}
.stl_16 {
	letter-spacing: -0.0019em;
}

.ie .stl_16 {
	letter-spacing: -0.0263px;
}
@font-face {
	font-family:"UNHIJO+Wingdings-Regular";
	src:url("10f0b434-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 0.75em;
	font-family: "UNHIJO+Wingdings-Regular", "Times New Roman";
	color: #000000;
}
.stl_18 {
	line-height: 1.109863em;
}
.stl_19 {
	letter-spacing: 0em;
}

.ie .stl_19 {
	letter-spacing: 0px;
}
.stl_20 {
	font-size: 0.75em;
	font-family: "NBRIRQ+Arial-BoldMT";
	color: #000000;
}
.stl_21 {
	letter-spacing: 0.002em;
}

.ie .stl_21 {
	letter-spacing: 0.0236px;
}
.stl_22 {
	letter-spacing: -0.0035em;
}

.ie .stl_22 {
	letter-spacing: -0.0416px;
}
.stl_23 {
	letter-spacing: 0.0003em;
}

.ie .stl_23 {
	letter-spacing: 0.0042px;
}
.stl_24 {
	letter-spacing: -0.004em;
}

.ie .stl_24 {
	letter-spacing: -0.0475px;
}
.stl_25 {
	letter-spacing: -0.0064em;
}

.ie .stl_25 {
	letter-spacing: -0.0907px;
}
.stl_26 {
	letter-spacing: 0.0008em;
}

.ie .stl_26 {
	letter-spacing: 0.01px;
}
.stl_27 {
	letter-spacing: 0.0011em;
}

.ie .stl_27 {
	letter-spacing: 0.0136px;
}
.stl_28 {
	letter-spacing: -0.0023em;
}

.ie .stl_28 {
	letter-spacing: -0.0328px;
}
.stl_29 {
	letter-spacing: 0.0005em;
}

.ie .stl_29 {
	letter-spacing: 0.0061px;
}
.stl_30 {
	font-size: 0.83em;
	font-family: "NBRIRQ+Arial-BoldMT";
	color: #000000;
}
.stl_31 {
	letter-spacing: 0.0015em;
}

.ie .stl_31 {
	letter-spacing: 0.0203px;
}
.stl_32 {
	letter-spacing: -0.0002em;
}

.ie .stl_32 {
	letter-spacing: -0.0019px;
}
.stl_33 {
	letter-spacing: -0.0001em;
}

.ie .stl_33 {
	letter-spacing: -0.0015px;
}
.stl_34 {
	letter-spacing: 0.0001em;
}

.ie .stl_34 {
	letter-spacing: 0.0017px;
}
.stl_35 {
	letter-spacing: -0.001em;
}

.ie .stl_35 {
	letter-spacing: -0.0117px;
}
.stl_36 {
	letter-spacing: -0.0005em;
}

.ie .stl_36 {
	letter-spacing: -0.0061px;
}
.stl_37 {
	letter-spacing: -0.0003em;
}

.ie .stl_37 {
	letter-spacing: -0.0041px;
}
.stl_38 {
	letter-spacing: -0.0012em;
}

.ie .stl_38 {
	letter-spacing: -0.014px;
}
.stl_39 {
	letter-spacing: -0.0025em;
}

.ie .stl_39 {
	letter-spacing: -0.0347px;
}
@font-face {
	font-family:"QMHFJH+Arial-BoldItalicMT";
	src:url("b9a60176-0003-0000-0000-000000000000.woff") format("woff");
}
.stl_40 {
	font-size: 0.75em;
	font-family: "QMHFJH+Arial-BoldItalicMT";
	color: #000000;
}
.stl_41 {
	letter-spacing: 0.0007em;
}

.ie .stl_41 {
	letter-spacing: 0.0084px;
}
.stl_42 {
	letter-spacing: 0.0004em;
}

.ie .stl_42 {
	letter-spacing: 0.0053px;
}
.stl_43 {
	letter-spacing: -0.0028em;
}

.ie .stl_43 {
	letter-spacing: -0.04px;
}
.stl_44 {
	letter-spacing: 0.0002em;
}

.ie .stl_44 {
	letter-spacing: 0.0019px;
}
.stl_45 {
	letter-spacing: -0.0006em;
}

.ie .stl_45 {
	letter-spacing: -0.0078px;
}
.stl_46 {
	letter-spacing: 0.0014em;
}

.ie .stl_46 {
	letter-spacing: 0.0167px;
}
@font-face {
	font-family:"LPQFTI+DengXian-Regular";
	src:url("9df8ac4d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_47 {
	font-size: 0.63em;
	font-family: "LPQFTI+DengXian-Regular", "Times New Roman";
	color: #000000;
}
.stl_48 {
	line-height: 1.041992em;
}
